/* import Font links */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* Generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-align: start;
}

html {
  scroll-behavior: smooth;
}
p {
  font-weight: 500;
  color: #7c8ba1;
  line-height: 29.25px;
}

nav {
  height: 80px;
  display: flex;
}
.logo__img {
  width: 100px;
}
/* .logo {
  display: flex;
  align-items: center;
}
.logo__title {
  color: #00bfa6;
} */

.row {
  width: 100%;
  max-width: 1320px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
ul {
  display: flex;
  align-self: center;
}
li {
  list-style-type: none;
  margin-bottom: 16px;
}
/* button:hover {
  background-color: #005f53;
} */
.nav__link--sign-up:hover {
  background-color: #005f53;
}
.btn:hover {
  background-color: #005f53;
}
.text--mint {
  color: #00bfa6;
}
/* ---Navigation bar-- */
.nav__link {
  margin: 0 24px;
  text-decoration: none;
  font-size: 14px;
  color: #243e63;
  font-weight: 600;
  letter-spacing: 0.35px;
}
.nav__link--login {
  margin: 0px 24px 0px 48px;
  text-decoration: none;
  font-size: 14px;
  color: #243e63;
  font-weight: 600;
  letter-spacing: 0.35px;
  padding: 0px 0px 4px;
}

.nav__link--sign-up {
  text-decoration: none;
  font-size: 14px;
  padding: 0.75rem 2rem;
  color: white;
  border-radius: 20px;
  background-color: #00bfa6;
  margin-left: 16px;
  font-weight: 600;
  letter-spacing: 0.35px;
}
.nav__link:hover {
  text-decoration: underline;
  color: #00bfa6;
}
.nav__link--login:hover {
  text-decoration: underline;
  color: #00bfa6;
}
.nav__link--sign-up:hover {
  background-color: #005f53;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #00bfa6;
  display: none;
}
.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 54vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 24px auto;
}
button {
  cursor: pointer;
}
.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  /* overflow-y: hidden; */
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 16px 0;
}
.menu__link {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #00a789;
}

.col1 {
  width: 40%;
}
.col2 {
  width: 60%;
}
.col2__img {
  max-width: 100%;
}

#siteDescription {
  margin: 40px auto;
}

.description__title {
  font-size: 48px;
  line-height: 60px;
  color: #1a202c;
  margin-bottom: 24px;
}
.description__title--para {
  margin-bottom: 32px;
}
.description__title--Learn-more {
  text-decoration: none;
  font-size: 14px;
  padding: 0.75rem 2rem;
  color: white;
  border-radius: 20px;
  background-color: #00bfa6;
  font-weight: 600;
  letter-spacing: 0.35px;
}
.description__para {
  color: #243e63;
  font-size: 1.125rem;
  margin: 32px 0px;
  line-height: 20.7px;
  font-weight: 500;
}

.row2__description {
  display: flex;
  margin: 48px auto;
  width: 100%;
}
.input__description {
  display: flex;
  width: 100%;
  padding: 4px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  border-radius: 50px;
  border: 2px solid #e2e8f0;
  margin-bottom: 48px;
}
.input__description:hover {
  border: 2px solid #7c8ba1;
  transition: all 300ms ease;
}

.input__field {
  width: 100%;
  height: 54px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.input__field::placeholder {
  color: #e2e8f0;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  height: 54px;
  width: 75%;
  background-color: #00bfa6;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  padding: 16px 24px;
}
.learn__more,
.get__started {
  width: 50%;
}
.description__title--customers {
  line-height: 13.8px;
  letter-spacing: 0.6px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 24px;
}
.trusted__customers {
  max-width: 100%;
}

.container {
  padding: 80px 0;
  max-width: 100%;
  max-height: 100%;
}

.titles {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__definition {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 24px;
}
.services__heading {
  color: #243e63;
  letter-spacing: 1.2px;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 24px;
}

.services__para {
  font-size: 18px;
  line-height: 29.25px;
  max-width: 576px;
  font-weight: 500;
  text-align: center;
  margin: 16px 0;
}

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.service {
  display: flex;
  width: calc(100% / 3);
  margin: 32px 0;
}
.service__img {
  border: 2px solid #e2e8f0;
  border-radius: 100%;
  padding: 24px;
}
.service__description {
  margin: 0 24px;
}
.service__description--title {
  color: #243e63;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.6px;
  font-weight: 700;
  margin: 0 0 24px 0px;
}
.service__description--para {
  font-weight: 500;
}

/* Quality work */

.quality__work {
  display: flex;
  justify-content: space-between;
}

.quality__work--description {
  width: 50%;
}
.quality__work--img {
  max-width: 50%;
  display: flex;
  align-items: center;
}

.quality__work--img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* Steps */
.steps__img {
  max-width: 50%;
}
.steps__description {
  max-width: 50%;
  margin-left: 4rem;
}
.steps__img img {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 40px 0 0 0;
}

.AllSteps {
  display: flex;
  flex-direction: column;
}
.stepByStep {
  display: flex;
  margin-bottom: 32px;
}
.stepNum {
  color: #cbd5e0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  text-align: left;
}
.stepByStep__description--para {
  max-width: 20rem;
}
.stepByStep__description {
  margin-left: 24px;
}

.stepByStep__description--title {
  text-align: start;
  color: #243e63;
  line-height: 20px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

/* PRICING */
.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.pricing__description--para {
  max-width: 36rem;
  text-align: center;
}
.col {
  width: 100%;
}

.plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.plan {
  margin-top: 4rem;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 5px;
}
.btn--purple {
  background: linear-gradient(135deg, #4f57c5 0%, #8389d6 100%);
}
.btn--purple:hover {
  background: #474eb1 100%;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.btn--red:hover,
.btn--green:hover,
.btn--purple:hover {
  transform: translateY(3px);
}
.btn--red {
  background: linear-gradient(115deg, #f78b8b 0%, #fab6b6 100%);
}
.btn--red:hover {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 100%,
    rgb(254, 178, 178) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.btn--green:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.iTtwJU {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.bMXqgj {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.geSfko {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.plan__col1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;

  padding-bottom: 32px;
  /* border-radius: 5px; */
}
.plan__col2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
}
.plan__col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: 2px solid rgb(226, 232, 240);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.name {
  margin-top: 24px;
  color: #1a202c;
  font-size: 20px;
  line-height: 32.5px;
  font-weight: 700;
  text-align: center;
}
.price {
  font-size: 48px;
  line-height: 78px;
  margin: 4px 0px;
  text-align: center;
  font-weight: 700;
}
.duration {
  color: RGB(160, 174, 192);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.for__who {
  color: RGB(26, 32, 44);
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.feature {
  color: #718096;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 20px 0px;
}

/* Footer */

.links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  padding: 56px 56px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyrights {
  color: #005f53;
  text-align: end;
}
footer {
  background-color: #00bfa6;
}

.links__topic {
  color: white;
  margin-bottom: 24px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer__link {
  text-decoration: none;
  color: white;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__line {
  width: 100%;
  height: 2px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.row2 {
  width: 100%;
}
.footer__info {
  display: flex;
  width: 100%;
}
.footer__logo {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  height: 100px;
}
.footer__logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.footer__icons {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer__copyrights {
  width: calc(100% / 3);
}
.footer__icon {
  margin: 8px;
  border: 2px solid #00a789;
  background-color: #00a789;
  border-radius: 50%;
  padding: 14px 16px;
}
.footer__icon--link {
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .service {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .services__heading {
    text-align: center;
    font-size: 36px;
  }
  .services__para {
    font-size: 14px;
  }
  .service__description--title {
    display: flex;
    justify-content: center;
  }
  .service__description--para {
    display: flex;
    text-align: center;
    padding: 0px 24px;
  }

  .description__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    width: 100%;
    text-align: center;
  }
  .description__para {
    text-align: center;
  }
  .row2__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .quality__work {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .quality__work--description {
    text-align: center;
    margin: 64px auto;
    width: 100%;
  }
  .quality__work--img {
    margin: 0 auto;
    transform: scale(2);
  }
  .col1 {
    width: 100%;
    padding: 24px;
  }
  .title__definition {
    text-align: center;
  }
  .steps__description {
    width: 100%;
    margin: 0 auto;
  }
  .steps__img {
    transform: scale(1.5);
  }
  .stepByStep {
    display: flex;
    flex-wrap: wrap;
  }
  .stepByStep__description {
    margin: 0 auto;
  }
  .stepByStep__description--title {
    text-align: center;
    width: 100%;
  }
  .stepByStep__description--para {
    text-align: center;
  }
  .stepNum {
    margin: 16px auto;
  }
  .plan {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
  }
  .quality__work--img {
    margin-top: 24px;
  }
  .steps__img {
    margin-bottom: 24px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    justify-content: center;
  }
  .footer__icons {
    justify-content: center;
    margin-bottom: 24px;
  }
  .footer__copyrights {
    width: 100%;
  }
  .copyrights {
    text-align: center;
    margin-bottom: 8px;
  }
  .description__title--customers {
    margin-top: 200px;
  }
  .menu__backdrop {
    width: 90vw;
  }
}
@media (max-width: 550px) {
  .service {
    width: 100%;
  }
  .steps__img {
    margin-bottom: 64px;
  }
  .description__title--customers {
    margin-top: 100px;
  }
}
/* For burger menu button */
@media (max-width: 809px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .learn__more {
    margin-bottom: 40px;
  }
  .copyrights {
    font-size: smaller;
  }
}
